* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.links {
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-evenly;
    margin: 30px;
    font-weight: 100;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 30px;
}

.one {
    background-color: #1F2937;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.cont {
    display: flex;
    justify-content: space-between;
    width: 100vh;
    font-weight: 900;
}

.sidebar {
    width: 350px;
    margin: 30px;
}

h1 {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.header_text {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.signup {
    padding: 10px 30px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    border-color: #1F2937;
}

.img-sec1 {

    padding: 0 10%;
    width: 55%;
    height: 300px;
}

.two {
    margin: 50px;

}

h2 {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 30px;
    font-weight: bolder;

}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    margin-top: 30px;
}

li {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
}

.img {
    padding: 10px 20px;
    border-radius: 6px;
    width: 200px;
    height: 170px;
    /* border-radius: 15px; */
}

.text {
    margin-top: 10px;
}

.three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-size: 34px;
    font-style: italic;
    color: #1F2937;
    padding: 150px;
    max-height: 20%;
}

.text_three {
    max-width: 55%;
    align-self: center;
}

h5 {
    align-self: flex-end;
}

.four {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.side1 {
    margin-right: 10px;

}

.conti {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #3882F6;
    color: #E5E7EB;
    padding: 20px 150px;
    border-radius: 10px;
}

.signup2 {
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #F9FAF8;
    border-radius: 10px;
    padding: 5px 30px;
    margin-left: 40px;
}

footer {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.lasth4 {
    color: #F9FAF8;
    font-weight: 200;
}